$white: #fff;
$black: #000;
$salmon: #f08e80;
$blue: #1C7BED;

$head-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$motel: "motel", arial, sans-serif;
$library: "library", arial, sans-serif;
$poppins-medium: "poppins-medium", arial, sans-serif;
$poppins-light: "poppins-light", arial, sans-serif;
$poppins-semibold: "poppins-semibold", arial, sans-serif;
