@import "variables";

html,
body {
  background: $white;
  overflow-x: hidden;
}

p-menu.header-menu {
  display: flex;
  align-items: center;
  .ui-menu {
    ul {
      display: flex;
      list-style: none;
      span {
        margin: 10px;
        font-family: $poppins-light;
        font-size: 20px;
        color: navy;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .ui-menuitem-link:focus {
      outline: none;
    }
  }
}

.mobile-menu {
  display: none;
  a.ui-menuitem-link {
    font-family: $poppins-light;
  }
}

@media only screen and (max-width: 600px) {
  p-menu.header-menu {
    .ui-menu {
      ul {
        display: none;
      }
    }
  }
  .mobile-menu {
    display: flex;
    button.ui-button {
      width: 32px;
      background: transparent;
      border: none;
    }
    p-menu .ui-menu {
      background: white;
    }
  }
}
