@import "styles";

:host {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h2 {
      font-family: $poppins-light;
      font-size: 40px;
      text-align: left;
      color: $black;
      margin: 10px;
      margin: 20px;
      font-weight: 100;
    }
    img {
      height: 400px;
      margin: 20px;
    }
    app-page-footer {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    .about {
      margin-top: 0;
      flex-direction: column;
      h2 {
        font-size: 20px;
      }
      app-page-footer {
        display: flex;
      }
    }
  }
}
