<div class="projects" id="projects">
    <h1>Projects</h1>
    <div class="img-grid">
        <img src="assets/images/1018bau1.webp" class="initial-img" />
        <img src="assets/images/1018bau2.webp" class="initial-img" />
        <img src="assets/images/701sea.webp" class="initial-img" />
        <img src="assets/images/711seagate.webp" class="initial-img" />
        <img src="assets/images/701sea2.webp" class="initial-img" />
        <img src="assets/images/701sea1.webp" class="initial-img" />
    </div>
</div>