@import "styles";

:host {
  .intro-text {
    display: flex;
    justify-content: flex-start;
    margin-top: 150px;
    padding: 20px;
    h2 {
      font-size: 40px;
      font-family: $poppins-light;
      margin: 20px;
    }
  }
  app-page-footer {
    display: none;
    margin-top: 20%;
  }
  .initial-photo {
    display: flex;
    justify-content: center;
    .initial-img {
      width: 100vw;
    }
  }
  @media only screen and (max-width: 768px) {
    .intro-text {
      h2 {
        font-size: 20px;
      }
    }
    app-page-footer {
      display: flex;
    }
  }
}
