@import "styles";

:host {
  .intro-text {
    display: flex;
    justify-content: flex-start;
    margin-top: 150px;
    padding: 20px;
    h2 {
      font-size: 40px;
      font-family: $poppins-light;
      margin: 20px;
    }
  }
  .initial-photo {
    display: flex;
    justify-content: center;
    .initial-img {
      width: 100vw;
    }
  }
}
